<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Todo assignees</title>
</head>
<body>

<h1>LIST OF ASSIGNEES</h1>

<table>
    <tr>
        <th>ID</th>
        <th>NAME</th>
        <th>EMAIL</th>

    </tr>
    <tr th:each="assignee : ${assignees}" th:object="${assignee}">
        <td th:text="*{id}"/>
        <td th:text="*{name}"/>
        <td th:text="*{email}"/>
        <td><a th:href="@{'/assignees/{id}/delete'(id=${assignee.id})}">Delete</a></td>
        <td><a th:href="@{'/assignees/{id}/editAssignee'(id=${assignee.id})}">Edit</a></td>
    </tr>
</table>

<h1>Add new Assignee</h1>

<form action="#" th:action="@{/assignees/newAssignee}" th:object="${assignee}" method="post">
    <p>Name: <input type="text" th:field="*{name}" /></p>
    <p>Email: <input type="text" th:field="*{email}" /></p>
    <p><input type="submit" value="Submit" /></p>
</form>

</body>
</html>