<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Update assignee</title>
</head>
<body>

<h1>Update Assignee</h1>

<form action="#" th:action="@{'/assignees/{id}/editAssignee'(id=${assignee.id})}" th:object="${assignee}" method="post">
    <p>Name <input type="text" th:field="*{name}"/></p>
    <p>Name <input type="text" th:field="*{email}"/></p>
    <input type="hidden" th:field="*{id}"/>
    <p><input type="submit" value="Submit" /></p>
</form>
</body>
</html>