<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Thymeleaf Exercise #</title>
    <link rel="stylesheet" th:href="@{/style.css}" />
    <meta charset="utf-8" />
</head>
<body>
<table border="1">
    <tr>
        <th>INDEX</th>
        <th>NAME</th>
        <th>BALANCE</th>
        <th>ANIMAL TYPE</th>
        <th>KING</th>
        <th>GODD GUY/BAD GUY</th>
    </tr>
    <tr th:each="accounts : ${accounts}">
        <td th:text="${accountsStat.count}"></td>
        <td th:text="${accounts.name}"></td>
        <td th:text="${accounts.balance}"></td>
        <td th:text="${accounts.animalType}"></td>
        <td>
            <span th:if="${accounts.king} == true" th:style="'color: gold' " th:text="King" />
            <span th:unless="${accounts.king} == true" th:text="'Not King'" />
        </td>
        <td th:switch="${accounts.isGood()}">
            <span th:case="true" th:text="'Good Guy'" />
            <span th:case="false" th:text="'Bad Guy'" />
        </td>
    </tr>
</table>
</body>
</html>