<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Bank of Simba#</title>
    <link rel="stylesheet" th:href="@{/style.css}" />
    <meta charset="utf-8" />
</head>
<body>
<table border="1" width="100%">
    <tr>
        <th>INDEX</th>
        <th>NAME</th>
        <th>BALANCE</th>
        <th>ANIMAL TYPE</th>
        <th>IS KING?</th>
        <th>GODD GUY/BAD GUY</th>
    </tr>
    <tr th:each="accounts : ${accounts}" align="center">
        <td th:text="${accountsStat.count}"></td>
        <td th:text="${accounts.name}"></td>
        <td th:text="${#numbers.formatDecimal(accounts.balance, 0, 'DEFAULT', 2, 'POINT')} + ' Zebra '"></td>
        <td th:text="${accounts.animalType}"></td>
        <td>
            <span th:if="${accounts.king} == true" th:style="'color: gold' " th:text="King"/>
            <span th:unless="${accounts.king} == true" th:text="'Not King'" />
        </td>
        <td th:switch="${accounts.isGood()}">
            <span th:case="true" th:text="'Good Guy'" />
            <span th:case="false" th:text="'Bad Guy'" />
        </td>
    </tr>
</table>
<form th:object="${selectedaccount}" action="#" th:action="@{/multiaccounts/raise}" method="post">
    <select th:field="*{name}">
        <option th:each="account : ${accounts}" th:value="${account.name}" th:text="${account.name}"></option>
    </select>
    <input class="button" type="submit" value="Raise"/>
</form>
</body>
</html>